h2 {
        background-color: #000000;
        text-align: left;
        color:#FFFFFF ;
        font-family: Arial;
      
}
body {
        background-color: white;
       
}
img {
        display: block;
        margin: 0 auto;
}
