div{
        background-color: blue;
        background-size: auto 150px;
}
h2 {
        text-align: left;
        color:#FFFFFF ;
        font-family: Arial;
      
}
body {
        background-color: white;
       
}
img {
        display: block;
        margin: 0 auto;
}
